
<label><%= rc.label %></label>

<% if (rc.required) { %>
<span class='required-star'>*</span>
<% } %>

<span class="input" data-bind="css: { <%= rc.validatable? '\'state-error\':' + rc.property+ '.isModified() && !' + rc.property + '.isValid()' : '' %> }">
    <% if (rc.description) { %>
    <i class="icon-append fa fa-question-circle"></i>
    <% } %>

    <input type="text" data-bind="value: <%= rc.property %>, <%= rc.focus? 'focus: ' + rc.focus : '' %> " />

    <% if (rc.validatable)  { %>
    <!-- ko if: <%= rc.property %>.isModified() && !<%= rc.property %>.isValid() -->
    <b class="tooltip tooltip-bottom-right">
        <i class="fa fa-warning txt-color-teal"></i>
        <span data-bind="text: <%= rc.property %>.error" />
    </b>
    <!-- /ko -->
    <% } %>

    <% if (rc.description) { %>
    <b class="tooltip tooltip-bottom-right">
        <i class="fa fa-warning txt-color-teal"></i>
        <%= rc.description %>
    </b>
    <% } %>

</span>