<p>Multiple results found for <%= rc.targetProperty %>  '<%= rc.searchTerm %>' </p>
<p class="text-align-right">
    <button id="prev" class="btn btn-primary btn-sm">Prev</button>
    <button id=next class="btn btn-danger btn-sm">Next</button>
</p>

<!--<div class="alert alert-info">

    <div class="header">
        <span data-bind="text: title"></span>

        <div class="float-right">
            <a data-bind="click: close"><span class="k-icon k-i-close" role="presentation"></span></a>
        </div>
    </div>

    <span data-bind="text: body"></span>
    <a class="btn btn-default" data-bind="qclick: findPrev, css: { 'disabled': !canFindPrevious() }">Find Prev</a>
    <a class="btn btn-default" data-bind="qclick: findNext, css: { 'disabled': !canFindNext() }">Find Next</a>

</div>-->