.test-harness-header {
    font-family:Arial;
}
body {
    margin:10px !important;
}
.test-col-25 {
    width:25%;
    float:left;
    box-sizing:border-box;
    padding:5px;
}
.test-harness-header button {
    width:100%;
    box-sizing:border-box;
    margin:5px 0;
	padding:8px 24px;
}
.test-harness-header .checkbox {

}


.test-harness-header button.blue {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.test-harness-header button.blue:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.test-harness-header button.blue:active {
	position:relative;
	top:1px;
}


.test-harness-header button.red {
	-moz-box-shadow:inset 0px 1px 0px 0px #f55656;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f55656;
	box-shadow:inset 0px 1px 0px 0px #f55656;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bf1600), color-stop(1, #a60000));
	background:-moz-linear-gradient(top, #bf1600 5%, #a60000 100%);
	background:-webkit-linear-gradient(top, #bf1600 5%, #a60000 100%);
	background:-o-linear-gradient(top, #bf1600 5%, #a60000 100%);
	background:-ms-linear-gradient(top, #bf1600 5%, #a60000 100%);
	background:linear-gradient(to bottom, #bf1600 5%, #a60000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf1600', endColorstr='#a60000',GradientType=0);
	background-color:#bf1600;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #751313;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #801616;
}
.test-harness-header button.red:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a60000), color-stop(1, #bf1600));
	background:-moz-linear-gradient(top, #a60000 5%, #bf1600 100%);
	background:-webkit-linear-gradient(top, #a60000 5%, #bf1600 100%);
	background:-o-linear-gradient(top, #a60000 5%, #bf1600 100%);
	background:-ms-linear-gradient(top, #a60000 5%, #bf1600 100%);
	background:linear-gradient(to bottom, #a60000 5%, #bf1600 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a60000', endColorstr='#bf1600',GradientType=0);
	background-color:#a60000;
}
.test-harness-header button.red:active {
	position:relative;
	top:1px;
}

.test-harness-header .environment {
    margin-top:5px;
    line-height:28px;
}
.test-harness-header .environment select {
    width: 50%;
    padding: 5px;
    float: right;
}



.test-harness-header{
    display:inline-block;
    border: 2px solid black;
    width:100%;
}
.check-container .checkbox + .checkbox {
    margin-top: 10px;
}

.check-container{
    overflow-y:auto;
    max-height:125px;
}
.vertical-text{
    form: rotate(-90deg);
    -ms-transform-origin: center, top;
    /* -webkit-transform: rotate(-90deg); */
    /*-webkit-transform-origin: center, top;*/
    color: #E29A3B;
    /* width: 100px; */
    /* margin-top: 55px; */
    /* float: left; */
    margin: 10px;
    margin-bottom: 0;
}
.checkbox-list {
    float:left;
}
.btn-container button[type="button"]{
    margin-top:5px;
}
.btn-container button[type="button"] +.btn{
    margin-top:5px;
}
.btn-container{
     display: table;
    table-layout: fixed;
}
.button-vertical-align{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.test-title{
    font-size:2vw;
    margin:7px;
    color:#333;
}
.chkboxlist td 
{
    padding:2px 0;
}
.chkboxlist 
{
    margin-top: 7px;
}
.chkboxlist label {
    font-weight:normal;
    margin-left:5px;
}
/*Progress Bar */
#progress-bar-container{
    width: 50%;
    margin: 65px auto 0px auto;
}
#progress-percent{
    float:right;
}
#progress-bar-container .status{
    float:left;
}
#progress-bar-container .fileNameLoading{
    float:right;
}
#progress-bar-container .status,#progress-bar-container .fileNameLoading{
    font-family: monospace;
}
#progress-bar-container .well{
    margin-bottom: 0px;
}
#progress-bar-container h3 {
    margin:18px 0;
}

#progress-bar-container .statusContainer{
    display: inline-block;
    width: 100%;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	border:1px solid #dcdcdc;
	display:inline-block;
	font-family:arial;
	padding: 10px 10px;
	text-decoration:none;
}
.progress-bar[aria-valuenow="0"] {
    min-width:0% !important;
}
#progress-bar-container .header {
    padding: 10px;
background: #333;
    overflow:hidden;
    color:#fff;
}
#progress-bar-container .header .title {
    width: 30%;
    float: left;
    font-size: 24px;
}
#progress-bar-container .header .pgbar {
    width:40%;
    float:left;
    margin-top: 7px;
}
#progress-bar-container .header .subtitle {
    width:30%;
    float:left;
   font-size: 18px;
line-height: 34px;
text-align: center;
}
#progress-bar-container .progress {
    margin-bottom:0;
}
#progress-bar-container .bar-holder {
    width:60%;
    float: right;
}
.core-files-header{
    float: left;
    margin-right: 20px;
    margin-left: 10px;
}
.progress-bar-content {
    padding:15px;
    border: 1px solid #ccc;
}

@media only screen and (max-width: 991px) {
    
    .test-title {
        font-size:20px;
    }
    .test-harness-header > div:nth-child(2) {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .test-col-25 {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
         }
    .test-title {
        font-size:20px;
    }
    .test-harness-header > div:nth-child(2) {
        
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .vertical-text {
        margin-left: -13px;
    }
}

@media only screen and (min-width: 991px) {
    .btn-container {
        margin-top: 20px;
    }
}

