#mysearches-content {
  min-height: 50px;
}
#mysearches-content .saved-search {
  margin-top: 3px;
  margin-left: 5px;
}
#mysearches-content .mysearches-header:before {
  content: "";
  background-image: url(images/folder-search.gif);
  background-position: 2px center;
  background-repeat: no-repeat;
  padding: 2px 2px 2px 18px;
  -moz-background-size: 16px auto;
  -o-background-size: 16px auto;
  -webkit-background-size: 16px auto;
  background-size: 16px auto;
  background-color: transparent;
  opacity: 0.5;
  z-index: -1;
}
.search-name {
  background-image: url(images/folder-search.gif);
  background-position: 2px center;
  background-repeat: no-repeat;
  padding: 2px 2px 2px 18px;
  -moz-background-size: 16px auto;
  -o-background-size: 16px auto;
  -webkit-background-size: 16px auto;
  background-size: 16px auto;
  background-color: transparent;
  padding-left: 20px;
}
.search-name .search-group {
  opacity: 0.7;
}
