/* data.customers - MyItems */
#myitems-customer-title {
  background-image: url(images/users.png);
  background-position: 3px center;
  background-repeat: no-repeat;
  padding: 3px 3px 3px 25px;
  -moz-background-size: 22px auto;
  -o-background-size: 22px auto;
  -webkit-background-size: 22px auto;
  background-size: 22px auto;
  background-color: transparent;
  border: none;
}
#sidebar-collapsed #myitems-customer-title {
  font-size: 0;
  padding-bottom: 5px;
  padding-top: 15px;
}
.customer-wizzard .add-new {
  background-image: url(images/users.png);
  background-position: 3px center;
  background-repeat: no-repeat;
  padding: 3px 3px 3px 25px;
  -moz-background-size: 22px auto;
  -o-background-size: 22px auto;
  -webkit-background-size: 22px auto;
  background-size: 22px auto;
  background-color: transparent;
}
