
<h1>User Settings</h1>

<div>
    <div>
        Font Size
        <span data-bind="expandOptions: {value: fontSize, text: ['Small', 'Medium', 'Large']}"></span>
    </div>

    <h2>Layout Settings</h2>
    <div>
        Sidebar Position
        <span data-bind="expandOptions: { value: sidebarPosition, text: ['Left', 'Right'] }"></span>
    </div>
    <div>
        Viewbar Position
        <span data-bind="expandOptions: { value: viewbarPosition, text: ['Bottom', 'Right'] }"></span>
    </div>

</div>

