
<div class="all-space">
    <header id="top-region">
        <div id="title-bar" class="clear-fix">
            <div id="logo" class="float-left k-content">Jigsaw</div>
            <ol class="breadcrumb" data-bind="foreach: breadcrumb.enumerate()">
                <li><a data-bind="attr: {href: href}, text: text"></a></li>
            </ol>
            <div id="caption">Jigsaw [Beta Enviroment] - David Weir - Supervisor</div>
        </div>
    </header>

   
    <div id="ribbon-bar" class="ribbon">

        <div data-bind="var: { collapsed: ko.observable(false).extend({ persist: 'ribbonBarCollapsed' }) }">
            
            
            <div data-bind=" css:{ 'collapsed': collapsed()}">

                <div id="tabStrip" class="" data-bind="ribbonTabsSwiper : { tabs: ribbon.items, collapsed: collapsed, speed: 500  }">

                    <div class="tabs">
                        <ul class="nav nav-tabs" data-bind="foreach: { data: ribbon.items }">
                            <li>
                                <a data-bind="text: header, keyTipsGroup: { group: header }" href="#">
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="swiper-container navbar-inverse">
                        <div class="swiper-wrapper" data-bind="foreach: { data: ribbon.items }">
                            <div class="swiper-slide">
                                <div class="content-slide">
                                    <div data-bind="var: { ribbonTabKeyTip: header }">
                                        <div class="ribbon-tab">
                                            <div data-bind="foreach: items">
                                                <div class="ribbon-section">
                                                    <div data-bind="foreachRibbonItem: items"></div>
                                                    <!--<span class="section-title" data-bind="text: header"></span>-->
                                                </div>
                                                <div class="ribbon-section-sep"></div>
                                            </div>
                                            <div class="ribbon-section content-slide-end"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="quick-start" data-bind="foreachRibbonQuickStart: quickStart"></div>

                <div class="ribbon-collapse txt-color-blueLight">
                    <i class="fa" data-bind="css: { 'fa-arrow-circle-down': collapsed(), 'fa-arrow-circle-up' : !collapsed() }, checkbox2: collapsed, keyTips: { key: 'QZ'}"> </i>
                </div>

            </div>

        </div>
    </div>

    <div class="all-space overflow-hidden" data-bind="measurePrev: 'top', kendoResize: {}">
        <div data-bind="messageQueue: messageQueue"></div>

        <section id="active-content"></section>

        <section id="main-content" data-bind="measurePrev: 'top', kendoResize: {}">
            <div class="busy"></div>
        </section>
    </div>

    <div class="k-overlay" data-bind="fadeVisible: isBusy"></div>

</div>