<div data-bind="<%= rc.throttle? 'throttledWith': 'with'%>: item">
    <div>
        <div class="tabs">
            <ul class="nav nav-tabs" data-bind="htmlTunnel : {id : 'viewbar-tabs', end: 'entrance'}">
                <li class="active">
                    <a data-toggle="tab" href="#tab-r1" data-bind="keyTipsGroup: { key : 'VD', group : 'customer-details'}">
                        <i class="fa fa-user nav-fa-issue"></i>
                        <span class="hidden-mobile hidden-tablet">Details</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-r1" class="tab-pane active">
                    <div class="field-set">
                        <header>Ship details</header>
                        <div data-bind="field: ShipName"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--<div data-bind="<%= rc.throttle? 'throttledWith': 'with'%>: item">
    <div data-bind="tabstripErrorTunnel: { animation: { open: {effects: '' } } }">
        <ul>
            <li><img src="images/users.png" /> Details</li>
        </ul>
        <div>
            <div class="field-set">
                <header>Ship details</header>
                <div>
                    <label data-bind="label: {}">ShipName</label>
                    <input data-bind="value: ShipName, focus: 200" />
                </div>
            </div>
        </div>
    </div>
</div>-->

