<div data-bind="<%= rc.throttle? 'throttledWith': 'with'%>: item">
    <div class="smart-form">
        <div class="tabs" data-bind="tabstripErrorTunnel:{}">
            <ul class="nav nav-tabs" data-bind="htmlTunnel : {id : 'viewbar-tabs', end: 'entrance'}">
                <li class="active">
                    <a data-toggle="tab" href="#tab-r1" data-bind="keyTipsGroup: { key : 'VD', group : 'template-details'}">
                        <span>Details</span> 
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-r2" data-bind="keyTipsGroup: { key : 'VG', group : 'template-validation'}">
                        <span>Validation</span>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-r3" data-bind="keyTipsGroup: { key : 'VH', group : 'template-visibility'}">
                        <span>Visibility Rules</span>  
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-r4" data-bind="keyTipsGroup: { key : 'VI', group : 'template-properties'}">
                        <span>Properties</span> 
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-r1" class="tab-pane active">
                    <div class="field-set">
                        <header>General Properties</header>
                        <div data-bind="field: addonText, focus: 2000"></div>
                        <div>
                            <label>FieldType</label>
                            <select data-bind="options: possibleFieldTypes, value: fieldType"></select>
                        </div>
                        <div data-bind="field: label"></div> 
                    </div>

                    <div class="field-set">
                        <header>Other Properties</header>
                        <div data-bind="field: placeholder"></div>
                        <div data-bind="field: defaultValue"></div>
                        <div data-bind="field: instructionsText"></div>
                    </div>
                </div>
                <div id="tab-r2" class="tab-pane fade">
                    <div class="field-set">
                        <header>Properties</header>
                        <div data-bind="field: label"></div>
                    </div>

                    <div class="field-set">
                        <header>Quick Validation</header>
                        <div>
                            <label>Required</label>
                            <select data-bind="options: requiredValues, value: required"></select>
                        </div>
                        <div>
                            <label>Size</label>
                            <select data-bind="options: possibleSizes, value: size"></select>
                        </div>
                        <div data-bind="field: maxLength"></div>
                        <div data-bind="field: minLength"></div>
                    </div>
                </div>
                <div id="tab-r3" class="tab-pane fade">
                    <div class="field-set">
                        <header>Properties</header>
                        <input data-bind="value: validatedOrder" />
                    </div>
                </div>
                <div id="tab-r4" class="tab-pane fade">
                    <div class="field-set">
                        <header>Properties</header>
                        <div data-bind="field: label"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>