<% if (rc.filterTemplate) { %>
<div class="filter-container">
    <div>
        <%= rc.filterTemplate %>
        <div class="btn btn-default" data-bind="click: navigateToFormList">Back</div>
    </div>
</div>
<% } %>
<form class="smart-form" data-bind="foreach: { data: orderedFormSections, as: 'section' }, formSectionsSortableList: formSections">
    <section class="form-group form-sort-item" data-bind="click: function() { $parent.expandViewBar($data); }">
        <label for="" data-bind="text: section.label, visible: function () { return section.label().length; }"></label>
        <div class="input-group" data-bind="template: { name: function () { return section.fieldType() + '-template'; }, data: section }">
        </div>
    </section>
</form>
<script type="text/html" id="dropdown-template">
    <span class="input-group-addon" data-bind="text: addonText"></span>
    <input type="text" class="form-control control-label" placeholder="" data-bind="placeholder: placeholder">
</script>
<script type="text/html" id="input-template">
    <span class="input-group-addon" data-bind="text: addonText"></span>
    <input type="text" class="form-control control-label" placeholder="" data-bind="placeholder: placeholder">
</script>
<script type="text/html" id="password-template">
    <span class="input-group-addon" data-bind="text: addonText"></span>
    <input type="password" class="form-control control-label" placeholder="" data-bind="placeholder: placeholder">
</script>
<script type="text/html" id="checkbox-template">
    <label>
        <input type="checkbox"> <!--ko text: label--><!--/ko-->
    </label>
</script>
<script type="text/html" id="button-template">
    <button type="submit" class="btn btn-default" data-bind="text: label">Submit</button>
</script>
