
<div class="data-module-content notification-content">
    <div id="data-titlebar">
        <header><span data-bind="text: localScope()?'Local': 'Global'"></span> Notifications</header>
        <div class="clearfix"></div>
    </div>

    <div id="grid-container" data-bind="measurePrev: 'top'">

        <div class="k-grid k-widget k-secondary k-reorderable">
            <div class="k-grid-header" style="padding-right: 17px;">
                <div class="k-grid-header-wrap">
                    <table tabindex="0">
                        <colgroup>
                            <col style="width: 60px;">
                            <col>
                            <col style="width: 100px;">
                            <col style="width: 150px;">
                            <col style="width: 120px;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="k-header">
                                    <span class="k-link">Type</span>
                                </th>
                                <th class="k-header">
                                    <span class="k-link">Message</span>
                                </th>
                                <th class="k-header">
                                    <span class="k-link">Time</span>
                                </th>
                                <th class="k-header">
                                    <span class="k-link">Date</span>
                                </th>
                                <th class="k-header">
                                    <span class="k-link">Author</span>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="k-grid-content">
                <table tabindex="-1" class="k-selectable">
                    <colgroup>
                        <col style="width: 60px;">
                        <col>
                        <col style="width: 100px;">
                        <col style="width: 150px;">
                        <col style="width: 120px;">
                    </colgroup>
                    <tbody data-bind="foreach: items">
                        <tr>
                            <td><img data-bind="attr: {src: Level === 'Success'? 'images/success.png': Level === 'Error'? 'images/error-small.png': 'images/warning.png' }" /></td>
                            <td data-bind="notificationTemplate: $data"></td>
                            <td data-bind="text: TimeStamp.toLocaleTimeString()"></td>
                            <td data-bind="text: TimeStamp.toDateString()"></td>
                            <td data-bind="text: Author || 'anonymous'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div data-bind="breezeKendoPager: { dataSource: dataSource }"></div>

    </div>

</div>