<% if (rc.sidebarLeft) { %>
 <div id="parentayout" data-bind="splitter: { type: 'v', dock:'left', sizeLeft: sidebarSize, maxLeft: 400, minLeft: 200, docked: sidebarLocked, toggleDockHandler: 'toggleSidebar', dockSize: 50 }">
    <% } else { %>
    <div id="parentayout" data-bind="splitter: { type: 'v', dock:'right', sizeRight: sidebarSize, minRight: 200, maxRight: 400, docked: sidebarLocked, toggleDockHandler: 'toggleSidebar', dockSize: 50 }">
        <% } %>

        <% if (rc.sidebarLeft) { %>
        <div>
            <div id="sideLayout-sidebar" class="sidebar-left">
                <div class="busy"></div>
            </div>
        </div>
        <% } %>

        <div class="overflow-visible">
            <% if (!rc.viewbarBottom) { %>
            <div class="overflow-visible" data-bind="splitter: { type: 'v',  dock:'right', sizeRight: viewbarSize, minRight: 400, maxRight: 700, docked: viewbarLocked }" style="width: 100%; height: 100%">

                <div id="viewLayout-content" class="k-state-active">
                    <div class="busy"></div>
                </div>

                <div class="overflow-visible viewbar-right">
                    <div id="viewLayout-viewbar" class="viewbar-right">
                        <div class="busy"></div>
                    </div>
                </div>

            </div>
            <% } else { %>
            <div class="overflow-visible" data-bind="splitter: { type: 'h', dock:'bottom', sizeBottom: viewbarSize, minTop: 200,  minBottom: 200,  docked: viewbarLocked }" style="width: 100%; height: 100%">
                <div class="overflow-visible">
                    <div id="viewLayout-content" class="k-state-active">
                        <div class="busy"></div>
                    </div>
                </div>

                <div class="overflow-visible viewbar-bottom">
                    <div id="viewLayout-viewbar" class="viewbar-bottom">
                        <div class="busy"></div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>

        <% if (!rc.sidebarLeft) { %>
        <div>
            <div id="sideLayout-sidebar" class="sidebar-right">
                <div class="busy"></div>
            </div>
        </div>
        <% } %>

    </div>
 