.carousel.fade {
  opacity: 1;
}
.carousel.fade .item {
  -moz-transition: opacity ease-in-out 0.7s;
  -o-transition: opacity ease-in-out 0.7s;
  -webkit-transition: opacity ease-in-out 0.7s;
  transition: opacity ease-in-out 0.7s;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  z-index: 1;
}
.carousel.fade .item:first-child {
  top: auto;
  position: relative;
}
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out 0.7s;
  -o-transition: opacity ease-in-out 0.7s;
  -webkit-transition: opacity ease-in-out 0.7s;
  transition: opacity ease-in-out 0.7s;
  z-index: 2;
}
.carousel.fade .carousel-control {
  z-index: 5;
}
